
#toptext{
grid-column: 2 / 10;
text-align: center;
margin-top: 11.042vw;
}

.toptext1{
margin: 0;
}

.toptext2{
        margin-top: 6.597vw;
        line-height: 1;
    }

#fillout{
    grid-column: 3/10;
    
    
}

#fillout p{  
    text-align: start;
    width: 250px;
    display: inline-block;
}

#fillout input{
    width: 418px;
    height: 55px;
}

.firstname{
    margin-top: 6vw;
}

.button{
    grid-column: 3/10;
    width: 140px;
        height: 50px;
        border-width: 1px;
        color: #fff;
        border-color: #566963;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: inset 0px 1px 3px 0px #91b8b3;
        text-shadow: inset 0px -1px 0px #2b665e;
        background: linear-gradient(#768d87, #6c7c7c);
}


