@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa\ Light.otf") format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-weight: bold;
    src: url("../fonts/Nexa\ Bold.otf") format("opentype");
}

body{
	margin: 0;
    padding: 0;
}

#container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

header {
	grid-column: 1/11;
	background-color: grey;
}

h1 {
	display: grid;
	grid-column: 2/10;
	
	font-family: Nexa;
	font-weight: bold;
	font-size: 110px;
	
	color: #1E407A;
}

.sockandp {
	grid-column: 2/10;
	
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	
    flex-direction: row;

    justify-content:space-around;
}

.flex-item-left {
  background-color: pink;
  width: 50%;
}

.flex-item-right {
  background-color: yellow;
  width: 50%;
}

@media screen and (max-width: 700px) {
  .sockandp {   
    flex-direction: column;
  }
}

		/* BLUE FRAME */
.blueframe {
	display: grid;
	grid-column: 1/11;
	
	grid-template-columns: inherit;
	
	background-color: #1E407A;
}

h2 {
	display: grid;
	grid-column: 2/7;
	
	font-family: Nexa;
	font-weight: bold;
	font-size: 90px;

	color: white;
}

.fishandp {
	grid-column: 2/10;
	
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	
    flex-direction: row;

    justify-content:space-around;
}

.flex-item-left2 {
  background-color: pink;
  width: 50%;
}

.flex-item-right2 {
  background-color: yellow;
  width: 50%;
}

@media screen and (max-width: 700px) {
  .fishandp {   
    flex-direction: column;
  }
}
		/* BLUE FRAME END */
		
		
		/* MISSION & VISION */
.mission {
	grid-column: 2/5;

}

.vision {
	grid-column: 6/10;
}


		/*  PINK BOX */
.pinkbox {
	display: grid;
	grid-column: 2/10;
	
	background: #E990B9;
}

h4 {
	font-family: Nexa;
	font-weight: bold;
	font-size: 50px;

	text-align: center;
	color: #FFFFFF;
	
	margin-top: 60px;
	margin-bottom: 15px;
}

#buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	
	font-family: Nexa;
	font-weight: bold;
	font-size: 25px;
}

#email {
	/* box */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 312px 15px 15px;
	gap: 15px;

	background: #D9D9D9;
	border-radius: 5px;
	
	/* font */
	width: 71px;
	height: 25px;

	color: #E990B9;
}

#subscribebutton {
	/* button */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px;
	gap: 15px;

	background: #E990B9;
	border-radius: 5px;
	
	/* font */
	width: 213px;
	height: 25px;

	color: #FFFFFF;
}

#pinktext {
	display: flex;
	justify-content: center;
	
	font-family: Nexa;
	font-size: 25px;
	letter-spacing: 0.03em;

	color: #FFFFFF;
}