@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa\ Light.otf") format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-weight: bold;
    src: url("../fonts/Nexa\ Bold.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

body{
	margin: 0;
    padding: 0;
}

/* header */
header{
	display: flex;
	position: sticky;
	width:100%;
	
	Top:0;
	Left:0;
	margin:0;
	background-color: white;         /* this is the flexbox containg the grid for header*/
	border: 1px solid;
	box-shadow: 3px 4px #d3d0d0;
}

header * {
    box-sizing: border-box;
}

header #logo{
        height:4.44vw;
        width:auto;
        grid-column: 2/ 3;
}

header .grid{
	display: grid;
	grid-template-columns: repeat(12, 1fr);     /* this is the grid for header*/
	align-items: center;
    justify-content: center;
	width:100%;
	height:6.38vw;
}

header .toplink1{                      /* toplinks = links for header*/
	grid-column: 5/ span 1;
	
}
header .toplink2{
	grid-column: 7/ span 1;
		

}
header .toplink3{
	grid-column: 9/ span 1;
		

}
header .toplink4{
	grid-column: 11/ span 1;
	scroll-behavior: smooth;/* this is the scrollTo function*/
		

}

.mobilemeniu a {
    visibility:hidden;
    display: block;
    font-weight: bold;
    width:100%;
    align-self:center;
    margin-left:3vw;
  margin-bottom:5vw;
    margin-top:5vw;
    color:white;
}
header a{
	font-family: Nexa, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
	font-size: 1.2rem;
	text-decoration: none;
    white-space: nowrap;
}

header a:hover{
    text-decoration: none;
	font-weight: bold;
}
.mobilemeniu ul {
    list-style-type: none;
    margin: 0px;
    height:200%;
    padding:0px;
    padding-inline-start: 0px; 
}
header .circle{
	width: 20px; 
	height: 20px; 
	border-radius: 100%;
	background-color: #1E407A;
}
header .mobilebutton{
	display: none;
	border: none;
	grid-column: 12/ span 1;
	align-items:center;
	margin:0px;
	padding:0px;
	width: 20px; 
	height: 20px; 
    background-color: white;
	
}
header, .mobilemeniu{
    z-index: 10;
}
header .container{
    margin-right:0;
}


header{ /* rares, you're in charge of this */
    grid-column: 1 / 12;
}

a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

footer{
    grid-column:1 / 10;
}

.white{
    color:white;
}
.white *{                     /* simple class for white text (attach to container) */
    color:white;
}



        /* mobile specific exeptions */

@media screen and (max-width: 768px) {

    header .container{
        height:10Vw;
        width: 100%;
    }
    header .grid{ 
        height:100%;
        margin-bottom:auto;
        margin-top:auto;
    }
    .mobilemeniu{
	    grid-column: 11/ span 1;
	    position:fixed;
	    height:auto;
	    width:40%;
	    Right:0;
	    Top:10Vw;
	    align-items:center;
	
	    transform: scaleX(0);

        transform-origin: Right;

        transition: 0.3s;
    }
    .mobilemeniu .links{
        align-items:center;
        border-radius:3%;
        background-color: #22457D;
        padding-top: 5vw;
        padding-bottom: 5vw;
        
    }
    
    header .mobilebutton, header .links{
        display:block;
        transition: 0.3s;
        outline: none;
        
    }
    header .toplink1{
        display: none;  
    }
        
    header .toplink2{
        display: none;  
    }
        
    header .toplink3{
        display: none;
    }
    header .toplink4{
        display: none;
    }
    .mobilemeniu a:hover{
        text-decoration: none;
    }
    .mobilemeniu a{
        visibility:visible;
        font-family: Nexa, Arial, Helvetica, sans-serif;
        font-size: 1.68rem;
        text-decoration: none;
    }

}

.newlist {
	display:block;
    transform: scaleX(1);
}
/* header ends */


#container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

h1 {
	display: grid;
	grid-column: 2/7;
	
	font-family: Nexa;
	font-weight: bold;
	font-size: 6.875rem;
	
	color: #1E407A;
}

@media screen and (max-width: 700px) {
	h1 {
	font-size: 1.875rem;
	grid-column: 3/9;
	text-align: center;
	}
}

.sockandp {
	grid-column: 2/10;
	
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	
    flex-direction: row;

    justify-content:space-around;
	
	margin-bottom: 6.813rem;
}

.flex-item-left {
/*	background-color: pink; */
	width: 50%;
}

.flex-item-left > img {
	width: 100%;
	height: auto;
}

.flex-item-right {
/*	background-color: yellow; */
	width: 50%;
}

.flex-item-right > p {
	font-family: Nexa;
	font-size: 1.563rem;
	text-align: right;
	
	padding-left: 25%;
}

@media screen and (max-width: 700px) {
.sockandp {   
	grid-column: 3/9;

    flex-direction: column;
	justify-content:center;
	
	margin-bottom: 3.313rem;
  }
.flex-item-left {
	width: 100%;
}
.flex-item-right {
	width: 100%;
	}
.flex-item-right > p {
	text-align: center;
	font-size: 0.938rem;
	padding: 15%;
  }
}

#scrolldown > img {
	height: 3.125rem;
	width: auto;
	
	margin-top: 5rem;
	margin-left: 23.75rem;
}

 #scrolldown > img:hover {
	box-shadow: 0px 4px 4px #888888; 
}

@media screen and (max-width: 700px) {
#scrolldown > img {
	height: 1.563rem;
	width: auto;
	
	margin-top: -3.125rem;
	margin-left: 0rem;
}
}

		/* BLUE FRAME */
#blueframe {
	display: grid;
	grid-column: 1/11;
	
	grid-template-columns: inherit;
	
	background-color: #1E407A;
}

h2 {
	display: grid;
	grid-column: 2/7;
	
	font-family: Nexa;
	font-weight: bold;
	font-size: 5.625rem;

	color: white;
}

@media screen and (max-width: 700px) {
	h2 {
	font-size: 1.875rem;
	grid-column: 3/9;
	text-align: center;
	}
}

.fishandp {
	grid-column: 2/10;
	
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	
    flex-direction: row;

    justify-content:space-around;
	
	margin-bottom: 6.813rem;
}

.flex-item-left2 {
/*	background-color: pink; */
	width: 50%;
}

.flex-item-left2 > img {
	width: 100%;
	height: auto;
}


.flex-item-right2 {
/*	background-color: black; */
	width: 50%;
}

.flex-item-right2 > p {
	font-family: Nexa;
	font-size: 1.563rem;
	text-align: right;
	
	color: #D9D9D9;
	
	padding-left: 25%;
}

@media screen and (max-width: 700px) {
.fishandp {
	grid-column: 3/9;

    flex-direction: column;
	justify-content:center;
	
	margin-bottom: 4.313rem;
  }
.flex-item-left2 {
	width: 100%;
}
.flex-item-right2 {
	  width: 100%;
	}
.flex-item-right2 > p {
	text-align: center;
	font-size: 0.938rem;
	padding: 15%;
  }
}
		/* BLUE FRAME END */
		
		
		/* MISSION & VISION */

h3 {
	font-family: Nexa;
	font-weight: bold;
	font-size: 5.313rem;

	color: #1E407A;
}

.mission {
	grid-column: 2/6;
	text-align: left;
}

.mission > p {
	font-family: Nexa;
	font-size: 2.188rem;
}

.vision {
	grid-column: 6/10;
	text-align: right;
}

.vision > p {
	font-family: Nexa;
	font-size: 2.188rem;
}

@media screen and (max-width: 700px) {
h3 {
	font-size: 1.875rem;
}
.mission {
	grid-column: 2/5;
}
.mission > p {
	font-size: 0.938rem;
}
.vision {
	grid-column: 7/10;
}
.vision > p {
	font-size: 0.938rem;
}
}


		/*  PINK BOX */
.pinkbox {
	display: grid;
	grid-column: 2/10;
	
	background: #E990B9;
}

h4 {
	font-family: Nexa;
	font-weight: bold;
	font-size: 3.125rem;

	text-align: center;
	color: #FFFFFF;
	
	margin-top: 3.75rem;
	margin-bottom: 0.938rem;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	
	padding-left: 0rem;
	
	font-family: Nexa;
	font-weight: bold;
	font-size: 1.563rem;
}

#subscribebutton button{
		padding: 0rem 0.938rem 0rem 0.938rem;
		background: #E990B9;
		border-radius: 5px;
		border:none;
		color: #FFFFFF;
		font-family: Nexa;
		font-weight: bold;
		font-size: 1.563rem;
		cursor: pointer;
}

#subscribebutton button:hover {
	background: #AA6384;
}


#email input{
	padding: 0.938rem 1.5rem 0.938rem 0.938rem;
	background: #D9D9D9;
	border-radius: 5px;
	color: #E990B9;
	font-family: Nexa;
	font-weight: bold;
	font-size: 1.563rem;
	border:none;
}

::placeholder{
color:#E990B9;
}

#email input:focus{
outline: none;
}


#email input:hover {
	background: white;

	color: black;
}

#pinktext {
	text-align: center;
	
	font-family: Nexa;
	font-size: 1.563rem;
	letter-spacing: 0.03em;

	color: #FFFFFF;
}

@media screen and (max-width: 700px) {
.pinkbox {
	margin-top: 1.875rem;
}
h4 {
	font-size: 1.875rem;
	
	margin-top: 1.125rem;
	margin-bottom: 2.375rem;

}
#buttons {
	font-size: 0.938rem;
}
#email input{
	padding: 0.625rem 0.8rem 0.625rem 0.625rem;
	gap: 0.313rem;
	font-size: 1rem;
}
#subscribebutton button{
	padding: 0.2rem;
	font-size: 0.8rem;
}
#pinktext {
	font-size: 0.938rem;
	padding-left: 10%;
	padding-right: 10%;
}
}

.scrollup {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.scrollup > a {
	display: grid;
	grid-column: 9/10;
}

#scrollup > img {
	height: 3.75rem;
	width: auto;
	
	margin-left: 5.938rem;
	margin-bottom: 5.813rem;
	margin-top: 3.5rem; 
}

@media screen and (max-width: 700px) {
#scrollup > img {
	height: 1.563rem;
	width: auto;
	
	margin-left: 1.25rem;
	margin-top: 1.875rem; 
}
}